= link_to media_entries_collection_path(collection), class: 'btn btn-default' do
  = "Media entries: #{collection.media_entries.count}"
= link_to collections_collection_path(collection), class: 'btn btn-default' do
  = "Sets : #{collection.collections.count}"
