%tr.collection{id: collection.id}
  %td= collection.title
  %td
    = link_to responsible_entity_path(collection) do
      = collection.responsible_entity_name
  %td
    - if collection.deleted_at
      %span.label.label-danger Yes
    - else
      %span.label.label-default No

  %td.active.col-xs-4.text-center
    .btn-group.btn-group-sm
      = link_to collection_path(collection), class: 'btn btn-default btn-with-icon-only' do
        %i.glyphicon.glyphicon-eye-open
      = link_to ui_collection_path(collection), class: 'btn btn-default btn-with-icon-only', target: :_blank do
        %i.glyphicon.glyphicon-globe
      = render partial: 'collections/action_buttons', locals: { collection: collection }
