%tr.collection{id: collection.id}
  %th= collection.title
  %td
    = link_to responsible_entity_path(collection) do
      = collection.responsible_entity_name

  %td.active.col-xs-4.text-center
    .btn-group.btn-group-sm
      = link_to collection_path(collection), class: 'btn btn-default' do
        %i.glyphicon.glyphicon-eye-open
      = render partial: 'action_buttons', locals: { collection: collection }
