.page-header
  %h1
    %i.icon-group
    Sets (#{@collections.total_count})

.row
  .col-xs-12
    .panel.panel-default
      .panel-heading
        .panel-title Search by title or UUID
      .panel-body
        = form_tag collections_path, method: 'GET', class: 'form-inline'  do
          .form-group
            %div
              %label
                Search Term
            = text_field_tag :search_terms, params[:search_terms], size: 36, class: 'form-control', placeholder: 'Title / UUID'
          .form-group
            %div
              %label
                Deleted
            = select_tag 'filter[is_deleted]',
              options_for_select([['Yes & No', ''], ['Yes', '1'], ['No', '0']], params[:filter].try(:[], :is_deleted) || '0'), class: 'form-control'
          .form-group
            %div
              %label
                Responsible User/Delegation ID
            = text_field_tag 'filter[responsible_entity_id]', params[:filter].try(:[], :responsible_entity_id), size: 37, class: 'form-control', placeholder: 'Responsible User/Delegation ID'
          .form-group
            %div
              %label
                Creator ID
            = text_field_tag 'filter[creator_id]', params[:filter].try(:[], :creator_id), size: 37, class: 'form-control', placeholder: 'Creator ID'
          .form-group{style: "margin-top: 25px"}
            = submit_tag 'Apply', class: 'btn btn-primary'
            = link_to 'Reset', collections_path, class: 'btn btn-default'
.row
  .col-xs-12
    %table.table.table-striped
      %thead
        %tr
          %th Title
          %th Responsible user
          %th Deleted
          %th
      %tbody
        = render partial: 'collection', collection: @collections

= paginate @collections
