.page-header
  %h1
    %i.glyphicon.glyphicon-folder-open
    #{@collection.title}
    - if @collection.deleted_at
      %span.label.label-danger.small Deleted
  %small
    = link_to '&larr; Go back to sets list'.html_safe, collections_path

= render partial: 'action_panel', locals: { collection: @collection, responsible_entity: @responsible_entity }

.row
  .col-xs-12
    %table.table.table-striped
      %thead
      %tbody
      - @collection.attributes.each do |attr|
        %tr
          = admin_db_column(attr.first)
          %td= attr.last

