:ruby
  media_entry = MediaEntry.unscoped.find_by_id(media_file.media_entry_id)

%tr{"data-id" => media_file.id}
  %td{title: media_entry.try(:title)}
    = media_entry.try(:title).try(:truncate, 20)
  %td{title: media_file.filename}
    = media_file.filename.truncate(20)
  %td= media_file.media_type
  %td= number_to_human_size(media_file.size)
  %td= media_file.created_at
  %td
    = link_to media_file.uploader.to_s, user_path(media_file.uploader)
  %td
    = conversion_status_label(media_file)
  %td
    - if MediaEntry.find_by_id(media_file.media_entry_id)
      %span.label.label-default No
    - else
      %span.label.label-danger Yes
  %td.active.text-center
    .btn-group.btn-group-sm
      = link_to media_file_path(media_file), class: 'btn btn-default' do
        %i.glyphicon.glyphicon-eye-open
