:ruby
  media_entry = media_file.media_entry.presence

%tr{"data-id" => media_file.id}
  %td{title: (media_entry.title if media_entry)}
    / = media_entry.title.truncate(20) if media_entry.present? || media_entry.title.present?
  %td{title: media_file.filename}
    = media_file.filename.truncate(20)
  %td= media_file.media_type
  %td= number_to_human_size(media_file.size)
  %td= media_file.created_at
  %td
    = link_to media_file.uploader.person.to_s, user_path(media_file.uploader)
  %td
    = conversion_status_label(media_file)
  %td.active.text-center
    .btn-group.btn-group-sm
      = link_to media_file_path(media_file), class: 'btn btn-default' do
        %i.glyphicon.glyphicon-eye-open
