
.page-header
  %h1
    %i.icon-media-entry
    Media Files › Batch Re-Encoding

%noscript
  .alert.alert-danger.text-center
    %b This feature only works with enabled Javascript!

#batch_reencoding_loading
  %p Loading… (If this is taking more than a few seconds, something is broken.)

= form_tag '', id: 'batch_reencoding_config',
    class: 'panel panel-default', style: 'display: none', data: {missing: @missing_formats} do
  .panel-heading
    .panel-title Configure Batch Job
  .panel-body
    .form-group
      %p.help-block Select missing formats:
      - @missing_formats.each do |format, count|
        - label_txt = capture_haml do
          %samp
            %strong= format
          %span.badge= count

        %label.fancy-checkbox
          = check_box_tag "formats[#{format}]"
          %span.checked
            .btn.btn-success.btn-sm.active
              %i.glyphicon.glyphicon-ok
              = label_txt
          %span.unchecked
            .btn.btn-default.btn-sm
              %i.glyphicon.glyphicon-remove
              = label_txt

    .form-group
      %p.help-block
        %strong.text-danger
          All selected missing Media Files will be reencoded with Zencoder. This action is liable to pay costs!
      %label.fancy-checkbox
        = check_box_tag 'understood'
        %span.checked
          .btn.btn-success.btn-sm.active
            %i.glyphicon.glyphicon-ok
            I understand
        %span.unchecked
          .btn.btn-default.btn-sm
            %i.glyphicon.glyphicon-remove
            I understand

  .panel-footer.text-right
    = hidden_field_tag :timestamp, DateTime.now.utc
    = button_tag 'Start', type: 'submit', disabled: true, class: 'btn btn-lg btn-block btn-danger'

#batch_reencoding_status.panel.panel-default{style: 'display: none'}
  .panel-heading
    .panel-title Progress
  .panel-body

    .request_progress
      .progress
        .progress-bar.progress-bar-danger.progress-bar-striped.active{style: 'width: 100%'}
          %span DON'T CLOSE THIS BROWSER WINDOW!

    .request_restart{style: 'display: none'}
      %a.btn.btn-primary{href: batch_reencoding_media_files_path}
        Go back


    %pre.request_result


:sass
  .fancy-checkbox
    input[type=checkbox]
      display: none
      & + .checked
        display: none
    input[type=checkbox]:checked
      & + .checked
        display: initial
      & + .checked + .unchecked
        display: none

  // #batch_reencoding_config

  #batch_reencoding_status
    .progress
      height: 2em
      .progress-bar
        min-width: 2em
        span
          line-height: 1.67em
          font-size: 1.34em
          text-shadow: 01px 0px 1.5em black
          font-weight: bold

:javascript
  (function() {
    var API_URL = '#{batch_reencode_media_files_path}'

    var VIEW = {
      loader: $('#batch_reencoding_loading'),
      form: $('#batch_reencoding_config'),
      status: $('#batch_reencoding_status')
    }
    VIEW.result = VIEW.status.find('.request_result').first()
    VIEW.progressBar = VIEW.status.find('.request_progress .progress-bar').first()

    var STATE = {
      formData: '',
      status: 'waiting',
      runs: 0,
      missing: {},
      missingCount: 0
    }

    function updateStatus (text, level) {
      if (text) setState('status', text)
      var info = buildStatusInfo(STATE)
      updateProgressBar(VIEW.progressBar, info.status, level)
      VIEW.result.text(JSON.stringify(info.details || {}, 0, 2)).show()
    }

    // action handlers
    // VIEW.form.find('input').on('click', function (event) {
    //   NOTE: could da validation here to setFormDisabled
    // })

    VIEW.form.on('submit', function (event) {
      event.preventDefault()
      setBrowserTabLock(true)

      var missing = {}
      var allMissing = VIEW.form.data().missing
      var missingFormats = Object.keys(allMissing)
      setState('formData', VIEW.form.serialize())
      // format is selected if the checkbox is checked:
      setState('selectedFormats', missingFormats
        .filter(function(fmt){ return VIEW.form.find('input[type="checkbox"][name="formats[' + fmt + ']"]:checked')[0] }))
      STATE.selectedFormats.forEach(function(k){ missing[k] = allMissing[k] })
      setState('missing', missing)
      setState('missingCount', sumMissing(STATE.missing))
      setState('initialMissingCount', STATE.missingCount)

      updateStatus('starting…', 'warning')

      setFormDisabled(false)
      VIEW.form.hide()
      VIEW.status.show()

      batchLoop()
    })

    // init UI
    VIEW.loader.hide()
    setFormDisabled(true)
    VIEW.form.show()

    // helpers

    function setFormDisabled (bool) {
      VIEW.form.find('button[type="submit"]').attr('disabled', !bool)
    }

    function setState (key, value) { STATE[key] = value }

    function batchLoop () {
      setState('runs', STATE.runs + 1)
      updateStatus('Running…', 'warning')
      runRequest(STATE.formData, function (err, res) {

        // if we got a 'wait' command, try again after 1 minute
        if (err && err.xhr.status === 420) {
          // no need to update any counts because server skipped operation
          updateStatus('waiting (1 minute because of rate limit)')
          return setTimeout(batchLoop, (1 * 60 * 1000))
        }

        // handle errors
        if (err || !res instanceof Object) {
          return updateStatus((err || 'Unknown Error!'), 'danger')
        }

        setState('missing', res.missing)
        setState('missingCount', STATE.missing)

        // handle looping
        if (STATE.missingCount > 0) {
          updateStatus('Waiting', 'warning')
          setTimeout(batchLoop, 300)
        // handle end of batching
        } else {
          updateStatus('ALL DONE!', 'success')
          setBrowserTabLock(false)
        }
      })
    }

    function runRequest (data, callback) {
      $.ajax(API_URL, {
        method: 'POST',
        dataType: 'json',
        data: data,
        error: function (jqXHR, textStatus, errorThrown) {
          callback({
            message: jqXHR.responseText || errorThrown || textStatus,
            xhr: jqXHR
          })
        },
        success: function (data, textStatus) {
          callback(null, data)
        }
      })
    }

    function setBrowserTabLock (locked) {
      window[locked ? 'addEventListener' : 'removeEventListener'](
        'beforeunload', browserTabLocker)
    }

    function browserTabLocker (event) {
      // cross browser foo:
      var msg = "REALLY, DON'T CLOSE THIS BROWSER WINDOW!"
      event.preventDefault()
      event.returnValue = msg
      return msg;
    }

    function updateProgressBar (bar, text, level) {
      levels = ['danger', 'warning', 'info', 'success']
      bsClass = function (l) {return 'progress-bar-' + l }
      if (level) {
        if (level.indexOf(level) < 0) throw new ArgumentError
        bar.removeClass(levels.map(bsClass).join(' ')).addClass(bsClass(level))
        if (level === 'success') bar.removeClass('active progress-bar-striped')
      }
      bar.find('span').first().text(text ||  '…')
    }

    function sumMissing (obj) {
      return Object.values(obj).reduce(function (m, n) { return (m || 0) + n })
    }

    function buildStatusInfo (state) {
      return {
        status: state.status,
        details: {
          selected_formats: state.selectedFormats,
          total_requests: state.runs,
          remaining_missing: state.missing.length,
          remaining_missing_formats: state.missing
        }
      }
    }

  }())
