- if user
  = link_to user_path(person.user), class: 'btn btn-default' do
    %span.glyphicon.glyphicon-user
    = person.user.login
= link_to people_path(merge_originator_id: person.id), class: 'btn btn-warning' do
  %span.glyphicon.glyphicon-random
  Merge
= link_to edit_person_path(person), class: 'btn btn-info' do
  %span.glyphicon.glyphicon-edit
  Edit
= link_to person_path(person), method: :delete, data: { confirm: 'The person will be deleted. Do you want to proceed?' },
    class: 'btn btn-danger' do
  %span.glyphicon.glyphicon-trash
  Delete
- if metadata_usage.present?
  :ruby 
    mdc = metadata_usage[:metadata_count]
    ec = metadata_usage[:entries_count]
    cc = metadata_usage[:collections_count]
  %span
    %b{ style: "margin-left: 50px" }= "Used in metadata: #{mdc} times in #{ec} entries and #{cc} collections"
