= form_for @person, html: { class: 'form-horizontal', role: 'form' }, builder: AdminFormBuilder do |f|

  %fieldset
    .form-group
      %label.control-label.col-xs-2 First name
      .col-xs-8
        = f.text_field :first_name, class: 'form-control'

    .form-group
      %label.control-label.col-xs-2 Last name
      .col-xs-8
        = f.text_field :last_name, class: 'form-control'

    .form-group
      %label.control-label.col-xs-2 Pseudonym
      .col-xs-8
        = f.text_field :pseudonym, class: 'form-control'

    .form-group
      %label.control-label.col-xs-2 Description
      .col-xs-8
        = f.text_field :description, class: 'form-control'

    .form-group
      %label.control-label.col-xs-2
        External URIs
        %br
        %small
          %em 1 per line
      .col-xs-8
        = f.list_as_lines :external_uris

    .form-group
      %label.control-label.col-xs-2 Admin Comment
      .col-xs-8
        = f.text_area :admin_comment, rows: 5, class: 'form-control'

    .form-group
      %label.control-label.col-xs-2 Is PeopleGroup
      .col-xs-1
        = f.check_box :subtype, { style: 'margin-top: 10px' }, 'PeopleGroup', 'Person'

    .form-group
      .col-xs-offset-2.col-xs-4
        = button_tag type: 'submit', class: 'btn btn-success' do
          %span.glyphicon.glyphicon-ok
          Save
        = link_to 'Go back', @person.persisted? ? person_path(@person) : people_path, class: 'btn btn-link'
