%tr
  %td= person
  %td
    - if person.user
      = link_to user_path(person.user) do
        = person.user.login
  %td= person.pseudonym
  %td= person.subtype
  %td.active.col-xs-2.text-center
    .btn-group.btn-group-vertical.btn-group-sm
      - if @merge_originator
        = link_to merge_to_person_path(person, originator_id: @merge_originator.id),
          method: :post, class: 'btn btn-warning', data: { confirm: "#{@merge_originator} will be merged to this person. Do you want to proceed?" } do
          %span.glyphicon.glyphicon-random
          Merge to
      - else
        = link_to person_path(person),
          class: 'btn btn-default btn-with-icon-only', title: 'Details' do
          %span.glyphicon.glyphicon-eye-open
          Details
        = link_to ui_person_path(person), class: 'btn btn-default btn-with-icon-only', title: 'Preview in Web-App', target: :_blank do
          %span.glyphicon.glyphicon-globe
          Web-App
        = render partial: 'action_buttons', locals: { person: person, user: false, metadata_usage: false }
