.page-header
  %h1
    Import Roles
  %small
    = link_to '&larr; Go back to CSV import overview'.html_safe, csv_import_index_assistant_path

.row
  .col-xs-6
    %p= local_assigns[:intro_text]
    %p
      The input format is "CSV" (Comma-Separated Values), which can be created for example with MS Excel.
      The expected data format is shown below and can be copied from there.
      In case any error happens, nothing will be imported. Carefully read the message, then fix the data and try again.

    %pre= local_assigns[:example_csv_snippet]
%br

= form_for(:import, url: send("csv_import_#{id}_update_assistant_path")) do
  .row.form-group
    .col-xs-12
      %label= 'CSV input'
      %textarea.code{name: 'csv_input', rows: 12, class: "form-control technical-input"}

  .row.form-group
    .col-xs-offset2.col-xs-4
      = button_tag type: 'submit', class: 'btn btn-success' do
        Save
      = link_to 'Go back', app_settings_path, class: 'btn'
