- is_used = @meta_key.meta_data.any?

= form_for @meta_key, html: { class: 'form-horizontal', role: 'form' } do |f|
  .form-group
    .col-xs-3
      = f.label :id, 'ID', class: 'control-label'
    .col-xs-6
      - static_input_if_persisted(f.object, f.object.id) do
        = f.text_field :id, class: 'form-control'
  .form-group
    .col-xs-3
      = f.label :vocabulary_id, class: 'control-label'
    .col-xs-6
      - static_input_if_persisted(f.object, f.object.vocabulary_id) do
        = f.select :vocabulary_id,
            options_from_collection_for_select(Vocabulary.sorted, :id, :id, f.object.vocabulary_id),
            {}, class: 'form-control'
  .form-group
    .col-xs-3
      = f.label :meta_datum_object_type, class: 'control-label'
    .col-xs-6
      = f.select :meta_datum_object_type,
          options_for_select(['', MetaKey.object_types].flatten, f.object.meta_datum_object_type),
          {},
          class: 'form-control',
          disabled: is_used,
          title: "This Metakey is #{is_used ? '' : 'NOT '}used!"

  - if @meta_key.can_have_keywords?
    .form-group
      .col-xs-3
        = second_step_label(:keywords_alphabetical_order, f)
      .col-xs-6
        %label.radio-inline
          = f.radio_button :keywords_alphabetical_order, true
          Yes
        %label.radio-inline
          = f.radio_button :keywords_alphabetical_order, false
          No

  - if @meta_key.can_have_people_subtypes?
    .form-group
      .col-xs-3
        = second_step_label(:allowed_people_subtypes, f)
      .col-xs-6
        .checkbox.checkbox-collection
          = f.collection_check_boxes :allowed_people_subtypes, Person.subtypes, :subtype, :subtype do |c|
            = c.label { c.check_box(disabled: is_used) + c.text }

  - if @meta_key.can_have_allowed_rdf_class?
    .form-group
      .col-xs-3
        = second_step_label(:allowed_type, f)
      .col-xs-6
        = f.collection_radio_buttons :allowed_rdf_class, RdfClass.all, :id, :id do |c|
          = c.label(class: 'radio-inline') { c.radio_button(disabled: is_used) + c.text }

  .form-group
    .col-xs-3
      = f.label :label, 'Label', class: 'control-label'
    .col-xs-6
      = f.text_field :label, class: 'form-control'
  .form-group
    .col-xs-3
      = f.label :description, 'Description', class: 'control-label'
    .col-xs-6
      = f.text_area :description, class: 'form-control', rows: 4
  .form-group
    .col-xs-3
      = f.label :hint, 'Hint', class: 'control-label'
    .col-xs-6
      = f.text_area :hint, class: 'form-control', rows: 4

  - if f.object.can_have_text_type?
    .form-group
      .col-xs-3
        = f.label :text_type, class: 'control-label'
      .col-xs-3
        = f.select :text_type, MetaKey.text_types.keys, {}, class: 'form-control'

  - if f.object.can_have_keywords?
    .form-group
      .col-xs-offset-3.col-sm-4
        .checkbox
          = second_step_label(:is_extensible_list, f) do
            = f.check_box :is_extensible_list
            Extensible?
  - %w(media_entries collections filter_sets).each do |resource_type|
    .form-group
      .col-xs-offset-3.col-sm-4
        .checkbox
          %label
            = f.check_box "is_enabled_for_#{resource_type}"
            Enabled for #{resource_type.humanize(capitalize: false)}?
  .form-group
    .col-xs-offset-3.col-xs-3
      = button_tag type: :submit, class: 'btn btn-success' do
        %span.glyphicon.glyphicon-ok
        Save
      = link_to 'Go back', meta_keys_path, class: 'btn btn-link'
