:ruby
  conditional_attributes = {
    is_extensible_list: :can_have_keywords?,
    allowed_people_subtypes: :can_have_people_subtypes?
  }.with_indifferent_access

.page-header
  %h1 Meta Key: #{@meta_key.id}
  %small
    = link_to '&larr; Go back to Meta Keys list'.html_safe, meta_keys_path

.row
  .col-xs-12
    .panel.panel-default
      .panel-body
        .btn-group
          = render partial: 'action_buttons', locals: { meta_key: @meta_key, size: nil }

.row
  .col-xs-12
    %table.table.table-striped
      %thead
      %tbody
        - @meta_key.attributes.each do |attr|
          - attr_name = attr.first
          - if conditional_attributes.has_key?(attr_name) && !@meta_key.send(conditional_attributes[attr_name])
            - next
          - else
            %tr
              %td
                %strong= t("activerecord.attributes.meta_key.#{attr_name}", default: attr_name.humanize)
              %td= attr.last

- if @meta_key.can_have_keywords?

  .page-header
    %h2 Keywords

  .row
    .col-xs-12
      %table.table.table-striped
        %thead
          %tr
            %th ID
            %th Keyword
        %tbody
          - @meta_key.keywords.find_each do |keyword|
            %tr
              %td= keyword.id
              %td= keyword
