:ruby
  conditional_attributes = {
    is_extensible_list: [:can_have_keywords?, :can_have_roles?],
    allowed_people_subtypes: [:can_have_people_subtypes?],
    allowed_rdf_class: [:can_have_allowed_rdf_class?]
  }.with_indifferent_access
  used_as = context_links(@meta_key.context_keys.pluck(:context_id))

.page-header
  %h1 Meta Key <span>#{@meta_key.id}</span>
  %small
    = link_to '&larr; Go back to meta keys list'.html_safe, meta_keys_path

.row
  .col-xs-12
    .panel.panel-default
      .panel-body
        .btn-group
          = render partial: 'action_buttons', locals: { meta_key: @meta_key }
        .btn-group.pull-right
          = link_to meta_key_move_path(@meta_key), class: "btn btn-default" do
            %i.glyphicon.glyphicon-move
            Move/Rename

.row
  .col-xs-12
    %table.table.table-striped
      %thead
      %tbody
        - @meta_key.attributes.each_pair do |attr, value|
          - if conditional_attributes.has_key?(attr) && conditional_attributes[attr].none? { |attr| @meta_key.send(attr) }
            - next
          - else
            %tr
              %td.col-xs-5
                %strong= t("activerecord.attributes.meta_key.#{attr}", default: attr.humanize)
              %td.col-xs-7
                - if attr == 'documentation_url' && value.present?
                  = link_to value, value, target: :_blank
                - else
                  = value
        %tr.info
          %td.col-xs-5
            %strong This meta key is used in the following contexts:
          %td.col-xs-7= used_as

= render 'keywords' if @meta_key.can_have_keywords?
= render 'roles' if @meta_key.can_have_roles?
