= form_for @roles_list, html: { class: 'form-horizontal', role: 'form' } do |f|
  - if @roles_list.persisted?
    .form-group
      .col-xs-2
        = f.label :id, class: 'control-label'
      .col-xs-6
        = f.text_field :id, class: 'form-control', disabled: true
  = f.fields_for :labels, OpenStruct.new(f.object.labels) do |lf|
    - I18n.available_locales.each do |locale|
      .form-group
        .col-xs-2
          = lf.label locale, "Label [#{locale}]", class: 'control-label'
        .col-xs-6
          = lf.text_field locale, class: 'form-control'
  .form-group
    .col-xs-2
      = f.label :is_extensible_list, "Extensible?", class: 'control-label'
    .col-xs-6{style: "margin-top: 5px;"}
      = f.check_box :is_extensible_list
  .form-group
    .col-xs-offset-2.col-xs-3
      = button_tag type: 'submit', class: 'btn btn-success' do
        %span.glyphicon.glyphicon-ok
        Save
      = link_to 'Go back', :back, class: 'btn btn-link'
