%tr
  %td= roles_list.id
  %td
    - roles_list.labels.each do |locale, label|
      %div
        %em= "#{locale}:"
        = label

  %td.active.col-xs-2.text-center
    .btn-group.btn-group-sm
      = render partial: 'action_buttons', locals: { roles_list: roles_list }
