%tr.group{'data-id' => group.id}
  %td.col-xs-4= group.name
  %td.col-xs-2= group.institutional_name
  %td.col-xs-2= group.type
  %td.col-xs-2
    %a{href: group_path(group, anchor: 'users')}= group.users.count
  %td.col-xs-2.search-rank= group.respond_to?(:search_rank) ? group.search_rank : ''

  %td.active.col-xs-2.text-center
    .btn-group.btn-group-sm.btn-group-vertical
      - if session[:vocabulary_id].present?
        - if group.is_assignable
          = link_to path_to_vocabulary_permission_form(group), class: 'btn btn-success' do
            Grant Vocabulary Permission
        - else 
          .text-muted Not assignable
        = link_to groups_path(reset_vocabulary_params: true),
                  class: 'btn btn-default' do
          Cancel
      - elsif @delegation
        - if @delegation_group_ids.include?(group.id)
          .text-muted Already added
        - elsif !group.is_assignable
          .text-muted Not assignable
        - else
          = link_to add_group_delegation_path(@delegation, group_id: group.id), method: :patch, class: 'btn btn-success' do
            %span.glyphicon.glyphicon-plus
            Add to the Delegation
      - else
        = link_to group_path(group), class: 'btn btn-default btn-with-icon-only' do
          %span.glyphicon.glyphicon-eye-open
          Details
        = link_to ui_group_path(group), class: 'btn btn-default btn-with-icon-only', title: 'Preview in Web-App', target: :_blank do
          %span.glyphicon.glyphicon-globe
          Web-App
        = render partial: 'action_buttons', locals: { group: group }
