%tr.group{'data-id' => group.id}
  %td.col-xs-3= group.name
  %td= group.institutional_name
  %td= group.type

  %td.col-xs-2.search-rank= group.respond_to?(:search_rank) ? group.search_rank : ''

  %td.active.col-xs-3.text-center
    .btn-group.btn-group-sm
      - if session[:vocabulary_id].present?
        = link_to path_to_vocabulary_permission_form(group), class: 'btn btn-success' do
          Grant Vocabulary Permission
        = link_to groups_path(reset_vocabulary_params: true),
                  class: 'btn btn-default' do
          Cancel
      - elsif @delegation
        - if @delegation_group_ids.include?(group.id)
          .text-muted Already added
        - else
          = link_to add_group_delegation_path(@delegation, group_id: group.id), method: :patch, class: 'btn btn-success' do
            %span.glyphicon.glyphicon-plus
            Add to the Delegation
      - else
        = link_to group_path(group), class: 'btn btn-default btn-with-icon-only' do
          %span.glyphicon.glyphicon-eye-open
        = render partial: 'action_buttons', locals: { group: group }
