= form_for @user, html: { class: 'form-horizontal', role: 'form' }, builder: AdminFormBuilder do |f|

  %fieldset
    .form-group
      %label.control-label.col-xs-2 Login
      .col-xs-9
        = f.text_field :login, class: 'form-control'

    .form-group
      %label.control-label.col-xs-2 E-mail
      .col-xs-9
        = f.text_field :email, type: 'email', class: 'form-control'

    .form-group
      %label.control-label.col-xs-2 Person ID
      .col-xs-9
        = f.technical_field :person_id, rows: 1, required: true

    .form-group
      %label.control-label.col-xs-2 Password
      .col-xs-9
        = f.text_field :password, class: 'form-control'

    .form-group
      %label.control-label.col-xs-2 First name
      .col-xs-9
        = f.text_field :first_name, class: 'form-control'

    .form-group
      %label.control-label.col-xs-2 Last name
      .col-xs-9
        = f.text_field :last_name, class: 'form-control'

    .form-group
      %label.control-label.col-xs-2 Notes
      .col-xs-9
        = f.text_area :notes, class: 'form-control'

    .form-group
      %label.control-label.col-xs-2 Active until
      .col-xs-9
        - active_until = (Date.today + AppSetting.first.users_active_until_ui_default.days)
        = f.date_field :active_until, class: 'form-control', value: active_until

    .form-group
      .col-xs-offset-2.col-xs-4
        = button_tag type: 'submit', class: 'btn btn-success' do
          %span.glyphicon.glyphicon-ok
          Save
        = link_to 'Go back', @user.persisted? ? user_path(@user) : users_path, class: 'btn btn-link'
