.page-header
  %h1
    Users (#{User.count})

= render 'alerts'

.row
  .col-xs-12
    .panel.panel-default
      .panel-heading
        .panel-title Filters
      .panel-body
        = form_tag users_path, method: :get, class: 'form-inline' do
          - params[:new_api_client] and params[:new_api_client].each do |key, value|
            = unescaped_hidden_field_tag "new_api_client[#{key}]", value
          - params[:edited_api_client] and params[:edited_api_client].each do |key, value|
            = unescaped_hidden_field_tag "edited_api_client[#{key}]", value
          = hidden_field_tag :add_to_group_id, @group.id if @group
          = hidden_field_tag :add_to_delegation_id, @delegation.id if @delegation
          .form-group
            = text_field_tag :search_term, params[:search_term], class: 'form-control', placeholder: 'Search term'
          .form-group
            = label_tag :sort_by, 'Sort by'
            = select_tag :sort_by, options_for_select([ |
              ['Login', 'login'],                       |
              ['Email', 'email'],                       |
              ['First/last name', 'first_name_last_name']],
              params[:sort_by]), { class: 'form-control' }
          .checkbox
            %label
              = check_box_tag :admins, '1', params[:admins].present?
              Show admins only
          .checkbox
            %label
              = check_box_tag :deactivated, '1', params[:deactivated].present?
              Only deactivated
          = submit_tag 'Apply', class: 'btn btn-primary'
          = link_to 'Reset', users_path, class: 'btn btn-default'
      .panel-footer
        .btn-group
          = link_to new_with_person_users_path, class: 'btn btn-default' do
            %span.glyphicon.glyphicon-plus
            Create user with person
          = link_to new_user_path, class: 'btn btn-default' do
            %span.glyphicon.glyphicon-plus
            Create user for existing person

.row
  .col-xs-12
    %table.table
      %thead
        %tr
          %th Login
          %th E-mail
          %th Person
          %th Resources
          %th Admin?
          %th Actions
      %tbody
        = render @users
    
= paginate @users
