.page-header
  %h1 Create user with person

= form_for @user, html: { class: 'form-horizontal', role: 'form' } do |f|

  %fieldset
    .form-group
      %label.control-label.col-xs-2 Login
      .col-xs-9
        = f.text_field :login, class: 'form-control'

    .form-group
      %label.control-label.col-xs-2 E-mail
      .col-xs-9
        = f.text_field :email, type: 'email', class: 'form-control'

    .form-group
      %label.control-label.col-xs-2 First name
      .col-xs-9
        = f.text_field :first_name, class: 'form-control', required: true

    .form-group
      %label.control-label.col-xs-2 Last name
      .col-xs-9
        = f.text_field :last_name, class: 'form-control', required: true

    .form-group
      %label.control-label.col-xs-2 Notes
      .col-xs-9
        = f.text_area :notes, class: 'form-control'

    .form-group
      %label.control-label.col-xs-2 Active until
      .col-xs-9
        - active_until = (Date.today + AppSetting.first.users_active_until_ui_default.days)
        = f.date_field :active_until, class: 'form-control', value: active_until

    .form-group
      %label.control-label.col-xs-2 Password sign-in enabled
      .col-xs-9
        = f.check_box :password_sign_in_enabled, { style: 'margin-top: 13px' }

    .form-group
      .col-xs-offset-2.col-xs-4
        = button_tag type: 'submit', class: 'btn btn-success' do
          %span.glyphicon.glyphicon-ok
          Save
        = link_to 'Go back', users_path, class: 'btn btn-link'
