.page-header
  %h1
    Edit "#{@field.titleize}" Setting

.row
  .col-xs-12
    = form_for @app_settings, html: { class: 'form-horizontal', role: 'form' } do |f|

      - if @field == 'explore_page'
        = render 'explore_page_fields', f: f
      - else
        .form-group
          .col-xs-6
            - type = ::AppSetting.columns_hash[@field.try(:to_s)].try(:sql_type)
            - markdowned = ['welcome_text']
            - case
            - when type === 'jsonb'
              = f.text_area @field, value: @app_settings.send(@field).to_yaml,
                rows: 12, class: 'form-control'
            - when markdowned.include?(@field.to_s)
              = f.text_area @field, rows: 12, class: 'form-control'
            - when @field.to_s =~ /contexts/
              = f.text_field @field, value: @app_settings[@field].join(', '),
                  class: 'form-control'
            - else
              = f.text_field @field, value: @app_settings[@field], class: 'form-control'
      .form-group
        .col-xs-offset2.col-xs-4
          = button_tag type: 'submit', class: 'btn btn-success' do
            Save
          = link_to 'Go back', app_settings_path, class: 'btn'
