.page-header
  %h1
    %i.glyphicon.glyphicon-cog
    Settings

- @settings_groups.each do |title, settings|
  = render partial: 'setting_group', locals: { setting_group: title,
    settings: settings }

.panel.panel-default
  .panel-heading
    .panel-title MetaData and UI
  .panel-body
    %table.table.table-striped
      %tbody
        - @context_for_views.each do |attr, details|
          %tr.row{id: attr}
            %td.col-xs-4
              = details[:title]
              %p.help-block= details[:description]
            %td.col-xs-7
              = convert_context_id_to_link(@app_settings[attr])
            %td.col-xs-1
              = link_to edit_app_setting_path(attr), class: 'btn btn-info btn-sm' do
                %span.glyphicon.glyphicon-edit
                Edit

.panel.panel-default
  .panel-heading
    .panel-title 
      'Explore' Page
  .panel-body#explore-page-section
    %table.table.table-striped
      %tbody
        - @explore_page_settings.each_pair do |attr, details|
          %tr.row{id: attr}
            %td.col-xs-5
              = details[:label]
              %p.help-block= details[:description]
            %td.col-xs-7
              - if attr == :catalog_context_keys
                = context_keys_as_links(@app_settings.send(attr))
              - elsif %i(featured_set_id teaser_set_id).include?(attr)
                = collection_as_link(@app_settings.send(attr))
              - else
                = @app_settings.send(attr)
            
    = link_to edit_app_setting_path(:explore_page), class: 'btn btn-info btn-sm' do
      %span.glyphicon.glyphicon-edit
      Edit
