:ruby
  _EMPTY_MARKER = '---'

= form_for @context_key, html: { class: 'form-horizontal', role: 'form' } do |f|
  - if @context_key.persisted?
    .form-group
      .col-xs-3
        = f.label :id, class: 'control-label'
      .col-xs-6
        = f.text_field :id, class: 'form-control', disabled: true
  .form-group
    .col-xs-3
      = f.label :meta_key_id, class: 'control-label'
    .col-xs-6
      = f.text_field :meta_key_id, class: 'form-control', disabled: @context_key.persisted?
  = f.fields_for :labels, OpenStruct.new(f.object.labels) do |lf|
    - I18n.available_locales.each do |locale|
      .form-group
        .col-xs-3
          = lf.label locale, "Label [#{locale}]", class: 'control-label'
        .col-xs-6
          = lf.text_field locale, class: 'form-control'
          %span.help-block
            %small
              %em from MetaKey: #{@context_key.meta_key.labels[locale] || _EMPTY_MARKER}
  = f.fields_for :descriptions, OpenStruct.new(f.object.descriptions) do |lf|
    - I18n.available_locales.each do |locale|
      .form-group
        .col-xs-3
          = lf.label locale, "Description [#{locale}]", class: 'control-label'
        .col-xs-6
          = lf.text_area locale, class: 'form-control', rows: 4
          %span.help-block
            %small
              %em from MetaKey: #{@context_key.meta_key.descriptions[locale] || _EMPTY_MARKER }
  = f.fields_for :hints, OpenStruct.new(f.object.hints) do |lf|
    - I18n.available_locales.each do |locale|
      .form-group
        .col-xs-3
          = lf.label locale, "Hint [#{locale}]", class: 'control-label'
        .col-xs-6
          = lf.text_area locale, class: 'form-control', rows: 4
          %span.help-block
            %small
              %em from MetaKey: #{@context_key.meta_key.hints[locale] || _EMPTY_MARKER }
  = f.fields_for :documentation_urls, OpenStruct.new(f.object.documentation_urls) do |lf|
    - I18n.available_locales.each do |locale|
      .form-group
        .col-xs-3
          = lf.label locale, "Documentation URL [#{locale}]", class: 'control-label'
        .col-xs-9
          = lf.text_field locale, class: 'form-control'
          %span.help-block
            %small
              %em from MetaKey: #{@context_key.meta_key.documentation_urls[locale] || _EMPTY_MARKER }
  .form-group
    .col-xs-offset-3.col-sm-4
      .checkbox
        %label
          = f.check_box :is_required
          Required?
  .form-group
    .col-xs-3
      = f.label :length_min, class: 'control-label'
    .col-xs-2
      = f.number_field :length_min, class: 'form-control'
  .form-group
    .col-xs-3
      = f.label :length_max, class: 'control-label'
    .col-xs-2
      = f.number_field :length_max, class: 'form-control'
  .form-group
    .col-xs-3
      = f.label :admin_comment, class: 'control-label'
    .col-xs-6
      = f.text_area :admin_comment, class: 'form-control', rows: 4
  .form-group
    .col-xs-offset-3.col-xs-3
      = button_tag type: :submit, class: 'btn btn-success' do
        %span.glyphicon.glyphicon-ok
        Save
      = link_to 'Go back', context_path(@context_key.context), class: 'btn btn-link'
