%tr
  %td= preview.content_type
  %td= preview.conversion_profile
  %td= preview.thumbnail
  %td= preview.created_at
  %td
    .btn-group
      = link_to preview_path(preview), class: 'btn btn-default btn-sm btn-with-icon-only' do
        %span.glyphicon.glyphicon-globe
      = link_to preview_path(preview), method: :delete, class: 'btn btn-danger btn-sm',
        data: { confirm: 'Preview will be deleted. Do you want to proceed?' } do
        %span.glyphicon.glyphicon-trash
        Delete
