:ruby
  raw_file_path = preview_raw_file_path(@preview)

.page-header
  %h1
    Preview: #{@preview.id}
    - unless MediaEntry.find_by_id(@preview.media_file.media_entry_id)
      %span.label.label-danger.small Deleted
  %small
    = link_to '&larr; Go back to Media File'.html_safe, media_file_path(@preview.media_file)

.row
  .col-xs-12
    %table.table.table-striped
      %thead
      %tbody
        - @preview.attributes.each do |attr|
          %tr
            %td
              %strong= attr.first.humanize
            %td= attr.last

%h2 Raw File

.thumbnail
  - case @preview.content_type
  - when /image/
    %img{src: raw_file_path}
  - when /audio/
    %audio{controls: true}
      %source{src: raw_file_path}
  - when /video/
    %video{controls: true}
      %source{src: raw_file_path}

%pre.text-center= @preview.filename

%hr

.row
  .col-xs-12
    .panel.panel-default
      .panel-body
        .btn-group.pull-right
          = link_to preview_path(@preview), method: :delete, class: 'btn btn-danger',
            data: { confirm: 'Preview will be deleted. Do you want to proceed?' } do
            %i.glyphicon.glyphicon-trash
            Delete permanently
