:ruby
  _EMPTY_MARKER = '---' # how to represent "no value"
  # locals:
  edit = false unless local_assigns[:edit] == true

.page-header
  %h2 MetaKeys in Context

- if edit
  .row
    .col-xs-12
      .btn-group
        = link_to meta_keys_path(context_id: @context.id), class: 'btn btn-default' do
          %i.glyphicon.glyphicon-plus
          Add MetaKey

.row
  .col-xs-12
    %table.table.edit-context-keys
      %thead
        %tr
          %th #
          %th ID
          %th
            MetaKey
            %small (type)
          %th label
          %th description
          %th hint
          %th.nowrap documentation URL
          %th required?
          %th
      %tbody
        -# - fail 1
        - @context.context_keys.each_with_index  do |ck, index|
          - striped = (index % 2 > 0) ? nil : :active

          %tr{class: striped, 'data-id' => ck.id}
            %td= ck.position
            %td= ck.id
            %td
              %samp= link_to ck.meta_key.id, meta_key_path(ck.meta_key)
              = "(#{ck.meta_key.meta_datum_object_type.demodulize})"
            %td
              %p= ck.label || _EMPTY_MARKER
            %td
              %p= ck.description || _EMPTY_MARKER
            %td
              %p= ck.hint || _EMPTY_MARKER
            %td
              - if ck.documentation_url.present?
                = link_to ck.documentation_url, ck.documentation_url, target: :_blank
              - else
                = _EMPTY_MARKER
            %td= ck.is_required ? 'Yes' : 'No'
            %td.text-center
              .btn-group-vertical.btn-group-sm
                = link_to edit_context_key_path(ck), class: 'btn btn-info' do
                  %span.glyphicon.glyphicon-edit
                  Edit
                - if edit
                  = link_to context_key_path(ck), method: :delete, data: { confirm: 'The MetaKey will be removed. Do you want to proceed?' }, class: 'btn btn-danger text-left' do
                    %span.glyphicon.glyphicon-trash
                    Remove MetaKey
                  = move_buttons(ck)
          = admin_comment_row(ck, colspan: 9, striped: striped)
          %tr.semiborder{class: striped}
            %td{colspan: 2}
            %td
              %small
                %em from MetaKey:
            %td
              %small
                %em= ck.meta_key.label || _EMPTY_MARKER
            %td
              %small
                %em= ck.meta_key.description || _EMPTY_MARKER
            %td
              %small
                %em= ck.meta_key.hint || _EMPTY_MARKER
            %td.break-word
              %small
                %em
                  - if ck.meta_key.documentation_url.present?
                    = link_to ck.meta_key.documentation_url, ck.meta_key.documentation_url, target: :_blank
                  - else
                    = _EMPTY_MARKER
            %td{colspan: 2}
