%tr{'data-id' => context.id}
  %td
    = link_to context_path(context) do
      = context
  %td= context.label
  %td= context.description
  %td.active.col-xs-3
    .btn-group.btn-group-sm
      = link_to context_path(context), class: 'btn btn-default' do
        %i.glyphicon.glyphicon-eye-open
        Details
      = render partial: 'action_buttons', locals: { context: context }
