:ruby
  striped = (context_counter % 2 > 0) ? :active : nil
  used_as = @app_settings.uses_context_as(context.id).map do |item|
    AppSettingsController::CONTEXT_FOR_VIEWS[item.to_sym][:title]
  end

%tr{'data-id' => context.id, class: striped}
  %td
    = link_to context_path(context) do
      = context
  %td= context.label
  %td= context.description
  %td.active.col-xs-3
    .btn-group.btn-group-sm
      = link_to context_path(context), class: 'btn btn-default' do
        %i.glyphicon.glyphicon-eye-open
        Details
      = render partial: 'action_buttons', locals: { context: context }
- if used_as.size > 0
  %tr.semiborder{class: striped}
    %td{colspan: 3}
      %small
        This context is used as: <strong>#{used_as.join(', ')}</strong>
    %td

:sass
  table tr.semiborder td
    border-top-style: dashed
