:ruby
  _EMPTY_MARKER = '---' # how to represent "no value"
  # locals:
  edit = false unless local_assigns[:edit] == true

.page-header
  %h2 MetaKeys in Context

- if edit
  .row
    .col-xs-12
      .btn-group
        = link_to meta_keys_path(context_id: @context.id), class: 'btn btn-default' do
          %i.glyphicon.glyphicon-plus
          Add MetaKey

.row
  .col-xs-12
    %table.table.edit-context-keys
      %thead
        %tr
          %th #
          %th
            MetaKey
            %small (type)
          %th label
          %th description
          %th hint
          %th required?
          %th
      %tbody
        -# - fail 1
        - @context.context_keys.each_with_index  do |ck, index|
          - striped = (index % 2 > 0) ? :active : nil

          %tr{class: striped, 'data-id' => ck.id}
            %td= ck.position
            %td
              %samp= link_to ck.meta_key.id, meta_key_path(ck.meta_key)
              = "(#{ck.meta_key.meta_datum_object_type.demodulize})"
            %td
              %p= ck.label.presence || _EMPTY_MARKER
            %td
              %p= ck.description.presence || _EMPTY_MARKER
            %td
              %p= ck.hint.presence || _EMPTY_MARKER
            %td= ck.is_required ? 'Yes' : 'No'
            %td.col-xs-2.text-center
              .btn-group-vertical.btn-group-sm
                = link_to edit_context_key_path(ck), class: 'btn btn-info' do
                  %span.glyphicon.glyphicon-edit
                  Edit
                - if edit
                  = link_to context_key_path(ck), method: :delete, data: { confirm: 'The MetaKey will be removed. Do you want to proceed?' }, class: "btn btn-danger text-left" do
                    %span.glyphicon.glyphicon-trash
                    Remove MetaKey
                  = link_to move_up_context_key_path(ck), method: :patch, class: "btn btn-warning text-left move-up" do
                    %span.glyphicon.glyphicon-chevron-up
                    Move up
                  = link_to move_down_context_key_path(ck), method: :patch, class: "btn btn-warning text-left move-down" do
                    %span.glyphicon.glyphicon-chevron-down
                    Move down

          %tr.semiborder{class: striped}
            %td
            %td
              %small
                %em from MetaKey:
            %td
              %small
                %em= ck.meta_key.label.presence || _EMPTY_MARKER
            %td
              %small
                %em= ck.meta_key.description.presence || _EMPTY_MARKER
            %td
              %small
                %em= ck.meta_key.hint.presence || _EMPTY_MARKER
            %td
            %td

:sass
  table tr.semiborder td
    border-top-style: dashed
