:ruby
  used_as = @app_settings.uses_context_as(@context.id).map do |item|
    AppSettingsController::CONTEXT_FOR_VIEWS[item.to_sym][:title]
  end

.page-header
  %h1 Context <span>#{@context}</span>
  %small
    = link_to '&larr; Go back to contexts list'.html_safe, contexts_path

.row
  .col-xs-12
    .panel.panel-default
      .panel-body
        .btn-group.pull-left
          = render partial: 'action_buttons', locals: { context: @context }
        .btn-group.pull-right
          = link_to new_context_path(from_context: @context.id), class: 'btn btn-default' do
            %i.glyphicon.glyphicon-duplicate
            = 'Duplicate Context'

.row
  .col-xs-12
    %table.table.table-striped
      %thead
      %tbody
        - @context.attributes.each do |attr|
          %tr
            = admin_db_column(attr.first)
            %td= attr.last
        %tr.info
          %td{colspan: 2} This context is used as: <strong>#{used_as.join(', ')}</strong>

- content_for :fluid_content do
  = render 'context_keys_list'
