%tr
  %td= role.id
  %td
    - role.terms.each do |locale, term|
      %div
        %em= "#{locale}:"
        = term

  %td.active.col-xs-2.text-center
    .btn-group.btn-group-vertical.btn-group-sm
      = render partial: 'action_buttons', locals: { role: role }
