.page-header
  %h1 Merge <em>#{@role}</em> role to:

.row
  .col-xs-12
    .panel.panel-warning
      .panel-body
        %span.glyphicon.glyphicon-exclamation-sign(aria-hidden="true")
        After merge the role will be deleted.

= form_tag merge_to_role_path(@role, redirect_to: params[:redirect_to]), method: :post, class: 'form-horizontal', role: 'form' do

  .form-group
    .col-xs-3
      = label_tag :id_receiver, 'ID of the target role:', class: 'control-label'
    .col-xs-8
      = text_field_tag :id_receiver, nil, id: 'id_receiver', class: 'form-control technical-input'

  .form-group
    .col-xs-offset-3.col-xs-4
      = button_tag class: 'btn btn-warning', data: { confirm: 'Do you really want to perform a merge?' } do
        %span.glyphicon.glyphicon-ok
        Merge
      = link_to 'Go back', params[:redirect_to], class: 'btn btn-link'
