.page-header
  %h1
    Roles (#{@roles.total_count})

- if @roles_list
  .row
    .col-xs-12
      .alert.alert-info{role: 'alert'}
        Choose a Role to be added to the Roles List <strong>#{@roles_list.label}</strong> or #{link_to 'cancel and go back to the roles_list', roles_list_path(@roles_list)}.

.row
  .col-xs-12
    .panel.panel-default
      .panel-heading
        .panel-title Filters
      .panel-body
        = form_tag request.path, method: :get, class: 'form-inline' do
          .form-group
            = text_field_tag 'filter[term]', filter_value(:term), size: 50,
              class: 'form-control', placeholder: 'ID, term'
          = submit_tag 'Apply', class: 'btn btn-primary'
          = link_to 'Reset', roles_path, class: 'btn btn-default'
      .panel-footer
        = link_to new_role_path, class: "btn btn-default" do
          %i.glyphicon.glyphicon-plus
          Create a Role

.row
  .col-xs-12
    %table.table.table-striped
      %thead
        %tr
          %th ID
          %th Label
          %th
      %tbody
        = render @roles

= paginate @roles
