.page-header
  %h1
    Roles (#{@roles.total_count})

.row
  .col-xs-12
    .panel.panel-default
      .panel-heading
        .panel-title Filters
      .panel-body
        = form_tag request.path, method: :get, class: 'form-inline' do
          .form-group
            = text_field_tag 'filter[term]', filter_value(:term), size: 50,
              class: 'form-control', placeholder: 'ID, term'

          = submit_tag 'Apply', class: 'btn btn-primary'
          = link_to 'Reset', roles_path, class: 'btn btn-default'
      .panel-footer
        .btn-group
        = link_to new_role_path, class: 'btn btn-default' do
          %i.glyphicon.glyphicon-plus
          Create a Role

.row
  .col-xs-12
    %table.table.table-striped
      %thead
        %tr
          %th ID
          %th Term
          %th
      %tbody
        = render @roles

= paginate @roles
