:ruby
  is_used_in_entries = keyword.entries_usage_count > 0
  is_used_in_collections = keyword.collections_usage_count > 0
  is_used = is_used_in_entries || is_used_in_collections

- if is_used_in_entries
  = link_to "Show Entries (#{keyword.entries_usage_count})".html_safe, entries_usage_keyword_path(keyword), class: 'btn btn-default'

- if is_used_in_collections
  = link_to "Show Sets (#{keyword.collections_usage_count})".html_safe, collections_usage_keyword_path(keyword), class: 'btn btn-default'

- if webapp_keyword_path(keyword) && is_used
  = link_to webapp_keyword_path(keyword), class: 'btn btn-default', target: :_blank do
    %span.glyphicon.glyphicon-link
    Show in Webapp
= link_to form_merge_to_keyword_path(keyword, redirect_to: request.fullpath), data: { confirm: 'Did you either remember or copy ID of the target keyword? You will need it in the next step.' }, class: 'btn btn-warning' do
  %span.glyphicon.glyphicon-random
  Merge to
= link_to edit_keyword_path(keyword), class: 'btn btn-info' do
  %i.glyphicon.glyphicon-edit
  Edit

- if is_used
  .btn.btn-danger.disabled{ title: 'Keyword is used and cannot be deleted.' }
    %i.glyphicon.glyphicon-trash
    Delete
- else
  = link_to keyword_path(keyword, redirect_to: request.fullpath),
            method: :delete, data: { confirm: 'The keyword will be deleted. Do you want to proceed?' },
            class: 'btn btn-danger' do
    %i.glyphicon.glyphicon-trash
    Delete
