.page-header
  %h1
    Keywords (#{@keywords.total_count})
    - if @vocabulary
      %small Vocabulary: #{@vocabulary.id}

.row
  .col-xs-12
    .panel.panel-default
      .panel-heading
        .panel-title Filters
      .panel-body
        = form_tag request.path, method: :get, class: 'form-inline' do
          .form-group
            = text_field_tag :search_term, params[:search_term], size: 40,
              class: 'form-control', placeholder: 'ID, term or MetaKey'
          .form-group
            = label_tag 'filter[vocabulary_id]', 'Vocabulary', class: 'form-label'
            = select_tag 'filter[vocabulary_id]', options_from_collection_for_select(@vocabularies, :id, :id, filter_value(:vocabulary_id)), class: 'form-control', prompt: '-- all --'
          .checkbox
            %label
              = check_box_tag 'filter[not_used]', '1', filter_value(:not_used) == '1'
              Not used?
          .form-group.pull-right
            = label_tag :sort_by, 'Sort by', class: 'form-label'
            = select_tag :sort_by,
                options_for_select([['-- default --', ''], ['Created at ↑', :created_at_asc], ['Created at ↓', :created_at_desc]], params[:sort_by]),
                class: 'form-control'
          .form-group.actions
            = submit_tag 'Apply', class: 'btn btn-primary'
            = link_to 'Reset', keywords_path, class: 'btn btn-default'
      - if @vocabulary && @vocabulary.can_have_keywords?
        .panel-footer
          .btn-group
          = link_to new_keyword_path(vocabulary_id: @vocabulary.id), class: 'btn btn-default' do
            %i.glyphicon.glyphicon-plus
            Create Keyword within <strong>#{@vocabulary}</strong> Vocabulary

.row
  .col-xs-12
    %table.table.table-striped#keywords
      %thead
        %tr
          %th ID
          %th MetaKey
          %th Term
          %th Created at
          %th
      %tbody
        = render @keywords

= paginate @keywords
