.page-header
  %h1
    %span
      Edit Notification Template:
      %code.black= @notification_template.label

= form_tag notification_template_path(@notification_template), method: :put, class: 'form-horizontal', role: 'form' do

  %fieldset
    .panel.panel-default
      .panel-heading
        %h1.panel-title General
      .panel-body
        .form-group
          %label.control-label.col-xs-3 Description
          .col-xs-8
            = text_area_tag 'notification_template[description]', @notification_template.description, class: 'form-control'

    .panel.panel-default
      .panel-heading
        %h1.panel-title UI
      .panel-body
        .form-group
          %label.control-label.col-xs-3 UI [en]
          .col-xs-8
            = text_area_tag 'notification_template[ui][en]', @notification_template.ui[:en], class: 'form-control'

        .form-group
          %label.control-label.col-xs-3 UI [de]
          .col-xs-8
            = text_area_tag 'notification_template[ui][de]', @notification_template.ui[:de], class: 'form-control'

        .form-group
          %label.control-label.col-xs-3.form-control-static UI Vars
          .col-xs-8.form-control-static
            %code.black= @notification_template.ui_vars

    .panel.panel-default
      .panel-heading
        %h1.panel-title Email Single
      .panel-body
        .form-group
          %label.control-label.col-xs-3 Email Single Subject [en]
          .col-xs-8
            = text_field_tag 'notification_template[email_single_subject][en]', @notification_template.email_single_subject[:en], class: 'form-control'

        .form-group
          %label.control-label.col-xs-3 Email Single Subject [de]
          .col-xs-8
            = text_field_tag 'notification_template[email_single_subject][de]', @notification_template.email_single_subject[:de], class: 'form-control'

        .form-group
          %label.control-label.col-xs-3.form-control-static Email Single Subject Vars
          .col-xs-8.form-control-static
            %code.black= @notification_template.email_single_vars

        .form-group
          %label.control-label.col-xs-3 Email Single [en]
          .col-xs-8
            = text_area_tag 'notification_template[email_single][en]', @notification_template.email_single[:en], rows: 4, class: 'form-control'

        .form-group
          %label.control-label.col-xs-3 Email Single [de]
          .col-xs-8
            = text_area_tag 'notification_template[email_single][de]', @notification_template.email_single[:de], rows: 4, class: 'form-control'

        .form-group
          %label.control-label.col-xs-3.form-control-static Email Single Vars
          .col-xs-8.form-control-static
            %code.black= @notification_template.email_single_vars

    .panel.panel-default
      .panel-heading
        %h1.panel-title Email Summary
      .panel-body
        .form-group
          %label.control-label.col-xs-3 Email Summary Subject [en]
          .col-xs-8
            = text_field_tag 'notification_template[email_summary_subject][en]', @notification_template.email_summary_subject[:en], class: 'form-control'

        .form-group
          %label.control-label.col-xs-3 Email Summary Subject [de]
          .col-xs-8
            = text_field_tag 'notification_template[email_summary_subject][de]', @notification_template.email_summary_subject[:de], class: 'form-control'

        .form-group
          %label.control-label.col-xs-3.form-control-static Email Summary Subject Vars
          .col-xs-8.form-control-static
            %code.black= @notification_template.email_summary_subject_vars

        .form-group
          %label.control-label.col-xs-3 Email Summary [en]
          .col-xs-8
            = text_area_tag 'notification_template[email_summary][en]', @notification_template.email_summary[:en], rows: 4, class: 'form-control'

        .form-group
          %label.control-label.col-xs-3 Email Summary [de]
          .col-xs-8
            = text_area_tag 'notification_template[email_summary][de]', @notification_template.email_summary[:de], rows: 4, class: 'form-control'

        .form-group
          %label.control-label.col-xs-3.form-control-static Email Summary Vars
          .col-xs-8.form-control-static
            %code.black= @notification_template.email_summary_vars

    .form-group
      .col-xs-offset-2.col-xs-4
        = button_tag type: 'submit', class: 'btn btn-success' do
          %span.glyphicon.glyphicon-ok
          Save
        = link_to 'Go back', :back, class: 'btn btn-link'
