:ruby
  # locals
  move_keys = false unless local_assigns[:move_keys] == true

.page-header
  %h2 Meta Keys in Vocabulary

.row
  .col-xs-12
    %table.table.table-striped
      %thead
        %tr
          %th ID
          %th Label
          %th Meta datum object type
          %th.col-xs-3
      %tbody
        - @meta_keys.each do |meta_key|
          %tr{'data-id' => meta_key.id}
            %td= link_to meta_key.id, meta_key_path(meta_key)
            %td= meta_key.label
            %td= meta_key.meta_datum_object_type
            %td.active
              .btn-group.btn-group-sm
                - if move_keys
                  = link_to move_up_meta_key_path(meta_key), method: :patch, class: "btn btn-warning move-up" do
                    %span.glyphicon.glyphicon-chevron-up
                  = link_to move_down_meta_key_path(meta_key), method: :patch, class: "btn btn-warning move-down" do
                    %span.glyphicon.glyphicon-chevron-down
                - if meta_key.can_have_keywords?
                  = link_to keywords_path(filter: { vocabulary_id: @vocabulary.id }, search_term: meta_key.id),
                    class: 'btn btn-default' do
                    %i.glyphicon.glyphicon-eye-open
                    Show keywords (#{meta_key.keywords_count})

    = paginate @meta_keys
