.page-header
  %h1 Vocabulary: #{@vocabulary}

.row
  .col-xs-12
    .panel.panel-default
      .panel-body
        .btn-group.pull-left
          = render partial: 'action_buttons', locals: { vocabulary: @vocabulary, size: nil }
          = link_to "Keywords: #{@vocabulary.keywords.count}",
              keywords_path(filter: { vocabulary_id: @vocabulary.id }),
              class: 'btn btn-default'

        .btn-group.pull-right
          = link_to new_context_path(from_vocabulary: @vocabulary.id), class: 'btn btn-default' do
            %i.glyphicon.glyphicon-duplicate
            = 'Create Context'


.row
  .col-xs-12
    %table.table.table-striped
      %thead
      %tbody
        - @vocabulary.attributes.each do |attr|
          %tr
            %td
              %strong= attr.first.humanize
            %td= attr.last

= render 'meta_keys_list'
