%tr
  %td.col-xs-2{style: 'word-break: break-word'}
    = render partial: 'shared/user_link_plain', locals: {user: supervisor}  
  %td.col-xs-4{style: 'word-break: break-word'}= supervisor.email
  %td.col-xs-4= supervisor.id
  %td.col-xs-1.text-center
    .btn-group.btn-group-vertical.btn-group-xs
      = link_to user_path(supervisor), class: 'btn btn-default btn-with-icon-only',
          title: 'Show the supervisor' do
        %i.glyphicon.glyphicon-eye-open
      = link_to delegation_user_remove_from_delegation_path(@delegation, supervisor, as_supervisor: true), method: :delete,
          data: {confirm: %Q{Are you sure you want to remove "#{supervisor.login}" from this delegation?}},
          title: 'Remove from this delegation',
          class: 'btn btn-danger btn-with-icon-only' do
        %i.glyphicon.glyphicon-trash
