.page-header
  %h1
    Edit Delegation
    %small= @delegation.name

.row
  .col-xs-12
    = form_for @delegation, html: { class: 'form-horizontal', role: 'form' } do |f|
      .form-group
        .col-xs-2
          = f.label :name, 'Name', class: 'control-label required'
        .col-xs-10
          = f.text_field :name, class: 'form-control'
      .form-group
        .col-xs-2
          = f.label :description, 'Description', class: 'control-label'
        .col-xs-10
          = f.text_field :description, class: 'form-control'
      .form-group
        .col-xs-2
          = f.label :admin_comment, 'Admin comment', class: 'control-label'
        .col-xs-10
          = f.text_field :admin_comment, class: 'form-control'
      .form-group
        .col-xs-2
          = f.label :notifications_email, 'Notifications email', class: 'control-label'
        .col-xs-10
          = f.text_field :notifications_email, class: 'form-control'
      .form-group
        .col-xs-2
          = f.label :notify_all_members, 'Notify all members', class: 'control-label'
        .col-xs-10
          = f.check_box :notify_all_members

      .form-group
        .col-xs-offset-2.col-xs-3
          = button_tag type: 'submit', class: 'btn btn-success' do
            %span.glyphicon.glyphicon-ok
            Save
          = link_to 'Go back', delegation_path(@delegation), class: 'btn btn-link'
     
