%tr{ data: { id: media_entry.id } }
  %td= media_entry.title
  %td= media_entry.responsible_entity_name
  %td
    - if media_entry.media_file.nil?
      %span.label.label-default No Media File
    - else
      = link_to media_entry.media_file.id, media_file_path(media_entry.media_file)
  %td= media_entry.id
  %td= media_entry.created_at
  %td
    - if media_entry.is_published
      %span.label.label-success Yes
    - else
      %span.label.label-default No
  %td
    - if media_entry.deleted_at
      %span.label.label-danger Yes
    - else
      %span.label.label-default No
  %td.active
    .btn-group.btn-group-sm.btn-group-vertical
      = link_to media_entry_path(media_entry), class: 'btn btn-default btn-with-icon-only' do
        %i.glyphicon.glyphicon-eye-open
      = link_to ui_entry_path(media_entry), class: 'btn btn-default btn-with-icon-only', title: 'Preview in Web-App', target: :_blank do
        %span.glyphicon.glyphicon-globe
