%tr{ data: { id: media_entry.id } }
  %td= media_entry.title
  %td= media_entry.responsible_entity_name
  %td
    - if media_entry.media_file.nil?
      %span.label.label-default No Media File
    - else
      = link_to media_entry.media_file.id, media_file_path(media_entry.media_file)
  %td= media_entry.id
  %td= media_entry.created_at
  %td
    - if media_entry.is_published
      %span.label.label-success Yes
    - else
      %span.label.label-default No
  %td.active.text-center
    .btn-group.btn-group-sm
      = link_to media_entry_path(media_entry), class: 'btn btn-default' do
        %i.glyphicon.glyphicon-eye-open
