= form_for @api_client, html: { class: 'form-horizontal', role: 'form' }, builder: AdminFormBuilder do |f|
  - user_button_text = f.object.user ? 'Change user' : 'Choose user'
  - user_button_name = f.object.user ? :change_user  : :choose_user
  %fieldset
    .form-group
      = f.label :login, class: 'control-label col-xs-2'
      .col-xs-8
        = f.technical_field :login, rows: 1
    .form-group
      = f.label :user_id, 'User', class: 'control-label col-xs-2'
      .col-xs-8
        - if f.object.user
          %span.text-info= "#{f.object.user} [#{f.object.user.login}]"
        - else
          %span.text-danger You must choose an user
        = f.hidden_field :user_id if f.object.user
        = button_tag user_button_text, type: :submit, name: user_button_name, class: 'btn btn-default'

    .form-group
      - password_label = f.object.persisted? ? 'New password' : 'Password'
      = f.label :password, password_label, class: 'control-label col-xs-2'
      .col-xs-8
        = f.text_field :password, class: 'form-control'

    .form-group
      = f.label :description, class: 'control-label col-xs-2'
      .col-xs-8
        = f.text_area :description, class: 'form-control', rows: 5

    = f.fields_for :permission_descriptions, OpenStruct.new(f.object.permission_descriptions) do |lf|
      - I18n.available_locales.each do |locale|
        .form-group
          .col-xs-2
            = lf.label locale, "Permission description [#{locale}]", class: 'control-label'
          .col-xs-8
            = lf.text_area locale, class: 'form-control', rows: 3
    .form-group
      .col-xs-2
      .col-xs-8
        .helptext Permission description: Shown as tooltip in the permissions view

    .form-group
      .col-xs-offset-2.col-xs-4
        = button_tag type: 'submit', class: 'btn btn-success' do
          %span.glyphicon.glyphicon-ok
          Save
        = link_to 'Go back', @api_client.persisted? ? api_client_path(@api_client) : api_clients_path, class: 'btn btn-link'
