.page-header
  %h1
    %i.icon-user 
    #{@api_client.login}
    %small API Client
  %small
    = link_to '&larr; Go back to API Clients list'.html_safe, api_clients_path

.row
  .col-xs-12
    .panel.panel-default
      .panel-body
        .btn-group
          = link_to user_path(@user), class: 'btn btn-default' do
            %i.glyphicon.glyphicon-user
            #{@user}
          = render partial: 'action_buttons', locals: {api_client: @api_client, size: nil}

.row
  .col-xs-12
    %table.table.table-striped
      %thead
      %tbody
      - @api_client.attributes.each do |name,value|
        %tr{'data-attr' => name}
          = admin_db_column(name)
          %td
            - if name == 'user_id'
              = render partial: 'shared/user_link_plain', locals: {user: @api_client.user}
            - elsif ApiClient.columns_hash[name].type == :text
              = simple_format value
            - else
              = value
